<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117119811-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-117119811-1');
</script>

   <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <title>翻訳 - kaiani</title>
</head>
<body>
    <div class="navbar">
        <ul>
           <li><a href="/">ホーム</a></li>
            <li><a href="/keiji">掲示板</a></li>
            <li><a href="/honyaku" class="current">翻訳</a></li>
            <li><a href="/chizu">グッズ情報</a></li>
            <li><a href="/wiki">Wiki</a></li>
            <li><a href="/user">About</a></li>
        </ul>
    </div>

    <table>

    </table>

    <div class="honcon">
       <iframe width="800" height="450" src="https://www.youtube.com/embed/vxwqcEZHHTM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>


            <table>
                <tr>
                    <td class="name">アメジスト</td>
                    <td class="dialogue">言葉では人は傷つかないっていうけど、経験から言って、それは間違ってるって知ってる。</td>
                </tr>
                <tr>
                    <td class="name">ジャスパー</td>
                    <td class="dialogue">お前は小さい…　お前は弱い！</td>
                </tr>
                <tr>
                    <td class="name">ディレクター</td>
                    <td class="dialogue">ジャスパー、もう少し右へ</td>
                </tr>
                <tr>
                    <td class="name">ジャスパー</td>
                    <td class="dialogue">おう。お前は間違っている！</td>
                </tr>
                <tr>
                    <td class="name">アメジスト</td>
                    <td class="dialogue">私は背が低い。地面にいすぎた。ちょっと潰されちゃった。</td>
                </tr>
                <tr>
                   <td class="name">ジャスパー</td>
                    <td class="dialogue">ハハ</td>
                </tr>
                <tr>
                   <td class="name">アメジスト</td>
                    <td class="dialogue">でも私はこれでいいのかもしれない。もしかして彼女は彼女自身の問題があるから、大げさに言っているのかもしれない。</td>
                </tr>
                <tr>
                   <td class="name">ジャスパー</td>
                    <td class="dialogue">何</td>
                </tr>
                <tr>
                   <td class="name">アメジスト</td>
                    <td class="dialogue">それは誰にもわからない。けど、私がわかっていることは、いつでも「ねえ、やめてくれない？」と言えること。</td>
                </tr>
                <tr>
                   <td class="name">ジャスパー</td>
                    <td class="dialogue">お前の考えなんてどうでもいい！チビ！</td>
                </tr>
                <tr>
                   <td class="name">アメジスト</td>
                    <td class="dialogue">ただ自分らしくいればいい。自分はいじめている、ということに気づくのは、その人たち次第だから。</td>
                </tr>
                <tr>
                   <td class="name">ジャスパー</td>
                    <td class="dialogue">ウアア！ハァ…　誰も見た目でいじめられるべきでない。自分がひどいことを言おうとしていることに気づいたら、その怒りはどこから来ているのか考えるべきだ…　と思う。</td>
                </tr>
                <tr>
                   <td class="name">ディレクター</td>
                    <td class="dialogue">オッケー、カット</td>
                </tr>
                <tr>
                   <td class="name">ジャスパー</td>
                    <td class="dialogue">どうやって冷静でいられるんだ。プレッシャーが大きすぎる。</td>
                </tr>
                <tr>
                   <td class="name">アメジスト</td>
                    <td class="dialogue">プレッシャーが私を今の私にしてくれたんだよ。</td>
                </tr>
                <tr>
                   <td class="name">ジャスパー</td>
                    <td class="dialogue">ワァオ…</td>
                </tr>
            </table>

    </div>



</body>
</html>