<!DOCTYPE html>
<html lang="ja">
<head>
   <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117119811-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-117119811-1');
</script>

    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <title>kaiani</title>
</head>
<body class="home">

    <div class="topbar">
    <p>kaiani.</p>
    </div>


    <div class="box1">


    <a href="/honyaku">
    <div class="box" id="translation">
        <p class="title">翻訳</p>
        <div class="icon" id="translationicon"></div>
        <p class="description">日本で未公開のエピソードや映像の<br>翻訳。</p>
    </div>
    </a>


    <a href="/chizu">
    <div class="box" id="merchmap_2">
        <p class="title">グッズ情報</p>
        <div class="icon" id="merchmapicon"></div>
        <p class="description"> 日本で海外アニメグッズを取り扱っているお店の一覧。</p>
    </div>
    </a>

    <a href="/wiki">
    <div class="box" id="wiki_2">
        <p class="title">Wiki</p>
        <div class="icon" id="wikiicon"></div>
        <p class="description">公式やコミュニティーについての、様々な海外アニメの情報。</p>
    </div>
    </a>

    </div>

    <div class="box2">
    <a href="/user">
    <div class="box" id="about">
        <p class="title">About</p>
        <p class="description">ー　このサイトについて</p>
    </div>
    </a>
    </div>

    <a href="/keiji"><%= "掲示板" %></a>

</body>
</html>