<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117119811-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-117119811-1');
</script>

   <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <title>ユーザー　- kaiani</title>
</head>
<body>
    <div class="navbar">
        <ul>
           <li><a href="/">ホーム</a></li>
            <li><a href="/keiji" >掲示板</a></li>
            <li><a href="/honyaku">翻訳</a></li>
            <li><a href="/chizu">グッズ情報</a></li>
            <li><a href="/wiki">Wiki</a></li>
            <li><a href="/user"class="current">About</a></li>
        </ul>
    </div>

    <div class="admin">
       <div class="context">
        <!--<h3>運営者について</h3>-->
        <div class="adminicon"></div>
        <p class="title">
        <br>
            small antenna <br>
        </p>
        <p>
        SVTFOE・SU・GF好き。ちょくちょく落書きもします。<br>
        <a href="https://twitter.com/smallantenna" target="_blank">Twitter</a><br>
        <a href="https://smallantenna.tumblr.com/" target="_blank">Tumblr</a>

        </p>
        </div>
    </div>

    <div class="info">
    <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>



    <div>Icons made by <a href="https://www.flaticon.com/authors/prettycons" title="prettycons">prettycons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>


    <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </div>

</body>