* {
    margin: 0;
    padding: 0;
    font-family: YuGothic,'Yu Gothic',sans-serif;
}

body {
    background-color: #fcfcfc;
}

p{
    font-family: YuGothic,'Yu Gothic',sans-serif;
}

a {
    text-decoration: none;
    color: #1a74ca;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

.navbar {
    position: relative;
    left: -50%;
    text-align: left;
}

/*float: right;*/

.navbar ul{
    text-align: center;
    position: relative;
    list-style: none;
    left: 50%;
    margin-top: 10px;
    user-select: none;
}

.navbar ul li {
    margin-right: 30px;
    float: left;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #000000;
    padding: 5px;
}

.navbar ul li a.current {
    background-color: #d8f0ef;
}

.navbar ul li a:hover {
    background-color: #d8f0ef;

}

.top {
    position: absolute;
    top: 0px;

}

a.lift {
    position: fixed;
    bottom: -50px;
    right: -50px;
    display: block;
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    background-color: #aeaeae;
}

/*ホーム*/

body.home {
     width: 100%;
    height: 100%;
    overflow: hidden;
}

.topbar {
    background-color: #d8f0ef;
    height: 100px;
    width: 100%;
    position:relative;
}

.topbar p {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 30px;
    font-size: 30px;

}

body.home .box {
    background-color: #d8f0ef;
    transition: 0.3s;
}

body.home .box:hover {
    background-color: #fff;
}

body.home .box p {
    padding: 10px;
    color: #5e5e5e;
}

.box p.title {
    font-size: 18px;
    margin-left: 8px;
}

.box p.description {
    position: absolute;
    bottom: 10px;
    width: 280px;
    padding: 25px;
}

body.home #translation, #merchmap_2, #wiki_2 {
    float: left;
    height: 300px;
    width: 300px;
    margin-right:50px;

    border: solid 3px #d8f0ef;
}

.box1 {
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -500px;
}

.box2 {
    position:absolute;
    top: 550px;
    left: 50%;
    margin-left: -500px;
}

body.home #about {
    height: 50px;
    width: 1018px;

    border: solid 3px #d8f0ef;
}


.box .icon{
    background-size: cover;
    position: absolute;
}

.box #merchmapicon {
    background: no-repeat 0 0 url(Images/mapicon.png);
   background-size: cover;
    width: 150px;
    height: 150px;

    top: 55px;
    left: 50%;
    margin-left: -105px;
}


.box #translationicon {
    background: no-repeat 0 0 url(Images/translationicon.png);
    background-size: cover;
    width: 160px;
    height: 160px;

    top: 50px;

    margin-left: 65px;
}

.box #wikiicon {
    background: no-repeat 0 0 url(Images/wikiicon.png);
    background-size: cover;
    width: 140px;
    height: 140px;

    top: 60px;

    margin-left: 65px;
}


.box2 #about p.description{
    position: absolute;
    top: 5px;
    left: 83px;
}

/*ユーザー*/

.admin {
    width:800px;
    margin:0 auto;
    border: 1px solid rgba(144, 230, 233);
    background: repeating-linear-gradient(
                135deg,
                rgba(255,255,255, 0.4),
                rgba(255,255,255, 0.4) 10px,
                rgba(144, 230, 233, 0.25) 10px,
                rgba(144, 230, 233, 0.25) 20px
                );
    color: #5e5e5e;

    position: relative;
    top: 100px;
}

.admin .context {
    padding: 50px;
}

.admin a {
    text-decoration: none;
}

.admin p.title {
    font-size: 15px;
   margin-bottom: 10px;
    font-weight: bold;
    color: #7f7f7f;

}

.admin .adminicon{
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(Images/adminicon2.png);
    float: left;
    border: 8px solid #e3f8f9;
    margin: 20px 45px 10px 0px;
}

.info {
    position: absolute;
    bottom: 50px;
}

/*翻訳*/

.honcon {
    width:800px;
    margin:0 auto;
    border: 1px solid #5e5e5e;
    border-bottom: 1px solid transparent;
    color: #5e5e5e;

    position: relative;
    top: 100px;


    margin-bottom: 50px;
}

.honcon iframe {
    margin-top: -33px;
    margin-bottom: -6px;
}

.honcon table {
    width:  801px;
    border: 1px solid transparent;

}

.honcon  td.name {
    border-left: 1px solid transparent;
    width: 100px;
}

.honcon  td.dialogue {
    border-right: 1px solid transparent;
}




/*グッズ情報*/

a.mapinfo {
    position: fixed;
   bottom: 30px;
    right: 30px;

    color: #5e5e5e;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding-top: 5px;

    background: #fff;
    border: 2px solid #5e5e5e;
    border-radius: 2px;
    height: 40px;
    width: 250px;
    z-index: 50;
}

iframe#merchmap {
    position: absolute;
    top: 80px;

    width: 100%;
    height: 90%;
}


/*Wiki*/

.wiki {
    position: absolute;
    top: 90px;

}

.sidebar {
    position: fixed;
    left: 25px;
    width: 185px;
    border: 1px #000 solid;
    float: left;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 20px;
    user-select: none;
}

.sidebar ul li {
    margin-bottom: 5px;
}

.sidebar ul li a {
    text-decoration: none;
}

.sidebar ul li p.title {
    font-weight: bold;
    text-align: center;
}


.main {
    position: absolute;
    left: 250px;
    width: 900px;
}

.main h3 {
    position: relative;
    margin-bottom: 10px;
    width: 900px;
    border-left: 5px #A1DBD8 solid;
    padding-left: 10px;
}

span.bold {
    font-weight: bold;
}



table#table1 {
    display: none;
}

a.showtitle {
    text-decoration: none;
}

button.toggler {
    background-color:#9fb7c5;
    border: #9fb7c5 solid 1px;
    color: white;
    padding: 2px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin-bottom: 5px;
    cursor: pointer;
}

br {
    user-select: none;
}



/*Keiji*/
a.postbutton {
    padding: 15px;
    background: #d8f0ef;
    color: #5e5e5e;
    position: absolute;
    top: 100px;
    left: 600px;
}

table.keijitable, table.keijitable th, table.keijitable td {
    border: none;
}

table.keijitable {
    position: absolute;
    top: 200px;
    left: 400px;
}

/*New*/

.newform {
    margin: 50px;
}

.newform input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #A1DBD8;
    font-size: 15px;

}

.newform input[type=submit] {
    margin-top: 20px;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    background: #d8f0ef;
    width: 100px;
    height: 50px;
    font-size: 15px;
}
